<section class="contacts">
  <div class="container">
    <h2 class="contacts-title">Contacts</h2>
    <ul class="contacts-cards list">
      <li class="contacts-cards__item">
        <p class="contacts-cards-type">Cafe</p>
        <p class="contacts-cards-city">Chicago</p>
        <p class="contacts-cards-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-cards-timetable list">
          <li>
            <p class="contacts-cards-day">Monday - Friday</p>
            <p class="contacts-cards-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-cards-day">Saturday - Sunday</p>
            <p class="contacts-cards-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-cards-list list">
          <li>
            <a href="tel:+610383766284" class="contacts-cards-tel link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts-cards-mail link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-cards__item">
        <p class="contacts-cards-type contacts-cards-type--green">Foodtruck</p>
        <p class="contacts-cards-city">Los Angeles</p>
        <p class="contacts-cards-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-cards-timetable list">
          <li>
            <p class="contacts-cards-day">Monday - Friday</p>
            <p class="contacts-cards-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-cards-day">Saturday - Sunday</p>
            <p class="contacts-cards-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-cards-list list">
          <li>
            <a href="tel:+610383766284" class="contacts-cards-tel link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts-cards-mail link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-cards__item">
        <p class="contacts-cards-type">Cafe</p>
        <p class="contacts-cards-city">New York</p>
        <p class="contacts-cards-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contacts-cards-timetable list">
          <li>
            <p class="contacts-cards-day">Monday - Friday</p>
            <p class="contacts-cards-time">06:00 AM - 10:00 PM</p>
          </li>
          <li>
            <p class="contacts-cards-day">Saturday - Sunday</p>
            <p class="contacts-cards-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-cards-list list">
          <li>
            <a href="tel:+610383766284" class="contacts-cards-tel link">+61(0) 383 766 284</a>
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts-cards-mail link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-btn-list list">
      <li class="contacts-btn-list__item">
        <button type="button" class="contacts-btn">
          Our locations
          <svg id="icon-Vector1" viewBox="0 0 19 32" width="4" height="8">
            <path
              fill="none"
              stroke="#fff"
              style="stroke: var(--color1, #fff)"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="4"
              stroke-width="6.4"
              d="M3.2 3.2l11.553 12.8-11.553 12.8"
            ></path>
          </svg>
        </button>
      </li>
      <li class="contacts-btn-list__item">
        <button type="button" class="contacts-btn contacts-btn--inverse">
          Franchise
          <svg id="icon-Vector1" viewBox="0 0 19 32" width="4" height="8">
            <path
              fill="none"
              stroke="#D41342"
              style="stroke: var(--color1, #d41342)"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-miterlimit="4"
              stroke-width="6.4"
              d="M3.2 3.2l11.553 12.8-11.553 12.8"
            ></path>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
