.hero {
  background-color: var(--bg-header-hero);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  min-width: 320px;
  height: 502px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    height: 400px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 1280px;
    height: 665px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.main-title {
  position: absolute;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-design-white);
  z-index: 5;

  top: 193px;
  left: 20px;
  width: 218px;
  font-size: 26px;
  line-height: 30px;

  @media screen and (min-width: 768px) {
    top: 102px;
    left: 34px;
    width: 162px;
    height: 80px;
    font-size: 22px;
    line-height: 25px;
  }
  @media screen and (min-width: 1280px) {
    width: 277px;
    height: 137px;
    top: 171px;
    left: 115px;
    font-size: 38px;
    line-height: 44px;
  }
  &__passion {
    color: var(--color-design-main);
    font-size: 48px;
    line-height: 96.5%;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 90.5%;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 90.5%;
    }
  }
}

.hero-fields {
  position: absolute;
  display: inline-flex;
  z-index: 5;
  top: 318px;
  left: 20px;

  @media screen and (min-width: 768px) {
    top: 202px;
    left: 34px;
  }
  @media screen and (min-width: 1280px) {
    top: 333px;
    left: 115px;
  }

  .hero-fields__item {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 8px;
    line-height: 10px;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .hero-fields__item:not(:last-child) {
    margin-right: 9px;

    @media screen and (min-width: 768px) {
      margin-right: 8px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 15px;
    }
  }
  .product-field {
    border-radius: 20px;
    background-color: var(--color-design-main);
    color: var(--color-design-white);
    padding: 9px 14px;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    @media screen and (min-width: 1280px) {
      padding: 15px 23px;
    }
  }
  .product-field:hover {
    background-color: var(--bg-btn-dark-hover);
  }
  .how-made-field {
    border-radius: 20px;
    color: var(--bg-btn-dark);
    background-color: var(--bg-btn-light);
    padding: 9px 14px;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    @media screen and (min-width: 768px) {
      padding: 9px 14px;
    }
    @media screen and (min-width: 1280px) {
      padding: 15px 20px;
    }
  }
  .how-made-field:hover {
    background-color: var(--bg-btn-light-hover);
  }
}

.milk-bucket {
  position: absolute;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    top: 245px;
    left: 34px;
    width: 124px;
    height: 126px;
  }
  @media screen and (min-width: 1280px) {
    top: 430px;
    left: 77px;
    width: 188px;
    height: 191px;
  }
}

.milk-description {
  position: absolute;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    top: 292px;
    left: 154px;
  }
  @media screen and (min-width: 1280px) {
    top: 485px;
    left: 295px;
  }
  &__text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    color: var(--color-design-white);
    @media screen and (min-width: 768px) {
      width: 120px;
      font-size: 8px;
      line-height: 150%;
      margin-bottom: 8px;
    }
    @media screen and (min-width: 1280px) {
      width: 200px;
      height: 78px;
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 20px;
    }
  }
  &__btn {
    border: 0;
    border-radius: 50%;
    background-image: url('/images/hero_arrow-right.png');
    display: inline-flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      width: 18px;
      height: 18px;
    }
    @media screen and (min-width: 1280px) {
      width: 24px;
      height: 24px;
    }
  }
}

.hero-elips {
  position: absolute;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  @media screen and (min-width: 768px) {
    top: 31px;
    left: 307px;
    width: 324px;
    height: 322px;
  }
  @media screen and (min-width: 1280px) {
    top: 52px;
    left: 475px;
    width: 538px;
    height: 538px;
  }
}

.hero-icecream {
  position: absolute;
  width: 171px;
  height: 410px;
  left: 117px;
  top: 92px;
  @media screen and (min-width: 768px) {
    width: 143px;
    height: 336px;
    left: 378px;
    top: 63px;
  }
  @media screen and (min-width: 1280px) {
    top: 108px;
    left: 594px;
    width: 236px;
    height: 557px;
  }
}

.hero-girl {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  @media screen and (min-width: 768px) {
    width: 168px;
    height: 133px;
    top: 266px;
    left: 566px;
  }
  @media screen and (min-width: 1280px) {
    width: 293px;
    height: 232px;
    top: 433px;
    left: 878px;
  }
}

.points-info {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  @media screen and (min-width: 768px) {
    top: 94px;
    left: 691px;
  }
  @media screen and (min-width: 1280px) {
    top: 156px;
    left: 1111px;
  }
  .points-info__item {
    position: relative;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      width: 51px;
    }
    @media screen and (min-width: 1280px) {
      width: 92px;
    }
  }
  .points-info__numbers {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    color: var(--color-design-main);
    text-align: center;
    letter-spacing: 0.04em;
    z-index: 3;
    @media screen and (min-width: 768px) {
      font-size: 28px;
      line-height: 32px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 53px;
      margin-bottom: 2px;
    }
  }
  .points-info__description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    color: var(--color-design-white);
    @media screen and (min-width: 768px) {
      font-size: 8px;
      line-height: 10px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  .points-info__ellipse {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    @media screen and (min-width: 768px) {
      width: 16px;
      height: 16px;
    }
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
    }
  }
  .cafes {
    .points-info__description {
      text-align: center;
    }
  }
  .trucks {
    .points-info__description {
      @media screen and (min-width: 768px) {
        text-align: center;
      }
      @media screen and (min-width: 1280px) {
        text-align: left;
      }
    }
  }
}
